@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-de-fundo: #111111;
    --fonte: 'Exo', sans-serif;
    --branco-principal: #FFFFFF;
    --branco-secundario: #FAFAFA;
    --branco-terciario: #BABABA;
    --vermelho: #BD162C;
    --vermelho-escuro: #991526;
    --cinza: #222222;
    --verde: #2E8B57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
    width: 100vw;
    overflow-x: hidden;
}

@media (max-width: 1501px) {
    .container__button-after-hero {
        margin-top: 100px;
    }
}

.after-hero__botao {
    background-color: var(--vermelho);
    color: var(--branco-secundario);
    border: none;
    font: bold;
    padding: 8px;
    border-radius: 4px;
    width: 384px;
    height: 48px;
    text-align: center;
}

.after-hero__botao:hover {
    background-color: var(--vermelho-escuro);
    cursor: pointer;
}

.container__plans h1 {
    color: var(--vermelho);
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin-top: 50px;
}

.container__plans h2 {
    color: var(--branco-secundario);
    text-align: center;
    font-weight: 500;
    font-size: 32px;
}

.container__plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plans__container-card {
    margin-top: 50px;
    background-color: #15201a;
    width: 360px;
    height: 624px;
    border-radius: 4px;
    border: 1px solid var(--verde);
    padding: 20px;
}

.plans__card-lista h2 {
    background-color: var(--verde);
    width: 121.78px;
    height: 27px;
    font-size: 18px;
    margin-bottom: -30px;
    font-weight: 700;
}

.plans__card-lista h1 {
    color: var(--branco-secundario);
    font-size: 32px;
    text-align: left;
    margin-bottom: 25px;
    font-weight: 700;
}

.plans__card-lista span {
    font-size: 16px;
    font-weight: 400;
}

.plans__card-lista p {
    color: var(--branco-terciario);
    font-size: 14px;
    margin-bottom: 25px;
}

.plans__card-lista li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.plans__card-lista h3 {
    color: var(--branco-secundario);
    font-weight: 500;
    font-size: 14px;
}

#checkYellow {
    background-color: var(--verde);
    width: 17px;
    height: 17px;
    border-radius: 2px;
}

#linkObtenha {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 760px) {
    #policy {
        flex-direction: row-reverse;
    }

    #policyCards {
        justify-content: left;
    }
}

@media (min-width: 1440px) {
    #experimente {
        flex-direction: row;
        width: 70vw;
    }

    #experimentContent {
        width: 900px;
        gap: 50px;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    padding: 20px;
    border-radius: 8px;
    color: var(--branco-principal);
    z-index: 1000;
    border-top: 4px solid #393939;
}

.modal-content {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header img {
    width: 22px;
    height: 22px;
}

.modal-header h2 {
    font-size: 22px;
    font-weight: 700;
}

.modal-body p {
    font-size: 14px;
    font-weight: 400;
    color: var(--branco-terciario);
}

.container__prices-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container__modal-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.container__modal-line h3 {
    font-size: 14px;
    font-weight: 500;
}

.container__modal-line span {
    font-size: 12px;
    color: var(--branco-principal);
    font-weight: 700;
    background-color: #2E8B5750;
    border: 1px solid var(--verde);
    border-radius: 20px;
    padding: 2px 10px;
}

.container__modal-line h2 {
    font-size: 12px;
    font-weight: 800;
}

.modal__container-detalhes {
    width: 100%;
    height: 70px;
    background-color: #444444;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.modal__container-detalhes h1 {
    font-weight: 700;
    font-size: 14px;
}

.modal-detalhes {
    display: flex;
    justify-content: space-between;
}

.detalhes-emoji {
    display: flex;
    gap: 5px;
    align-items: center;
}

.detalhes-emoji span {
    font-size: 12px;
    color: var(--branco-terciario);
    font-weight: 400;
}

.detalhes-precos {
    font-weight: 700;
    display: flex;
    gap: 5px;
    align-items: center;
}

.detalhes-precos h2 {
    padding: 2px 5px;
    border-radius: 2px;
}

.modal__botao {
    background-color: var(--verde);
    color: var(--branco-principal);
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    margin-bottom: 20px;
}

.modal-footer {
    color: #E1C111;
    font-size: 14px;
    max-width: 420px;
}

.modal-footer p {
    margin-top: 20px;
    margin-bottom: 20px;
}

#closeButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #888;
}

#boxShadow1,
#boxShadow2,
#boxShadow3 {
    box-shadow: rgba(189, 22, 44, 0.2) 0px 0px 200px 400px;
}

@media (max-width: 1025px) {
    #imageHero {
        width: 100%;
    }

    #containerImageHero {
        width: 100%;
    }

    #boxShadow1,
    #boxShadow2,
    #boxShadow3 {
        box-shadow: rgba(189, 22, 44, 0.2) 0px 0px 100px 200px;
    }
}


@media (max-width: 768px) {

    .modal {
        width: 100%;
        height: 670px;
        position: fixed;
        top: 70%;
        left: 50%;
    }

    #modalContent {
        width: 100%;
        /* margin: 0 25px 0 0; */
    }

    .modal__botao {
        background-color: var(--vermelho);
    }

    .modal__container-detalhes {
        display: none;
    }

    #tunnel {
        display: none;
    }

    .container__modal-line {
        height: 80px;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        background-color: #333;
        width: 100%;
    }

    .selecionado {
        border: 2px solid var(--verde);
        box-shadow: rgb(29, 89, 56) 0px 0px 19px 0px;
        border: 2px solid rgb(29, 89, 56);
    }

    .container__modal-line .price__line {
        font-size: 21px;
    }

    .container__modal-line span,
    .container__modal-line input {
        display: none;
    }

    .modal-footer {
        max-height: 50px;
    }

    .modal-footer p {
        font-size: 12px;
        max-width: 100%;
        margin: 15px 12px;
    }

    #selo {
        display: none;
    }

    #mensagemIdOneYear,
    #mensagemIdOneMounth,
    #mensagemIdThreeMounths {
        font-weight: 400;
        color: var(--branco-terciario);
    }

    #obtenhaAgoraButton {
        margin-top: 7px;
    }
}

@media (max-width: 415px) {

    .after-hero__botao {
        width: 290px;
        margin-top: -80px;
    }
}

@media (max-width: 430px) {

    .after-hero__botao {
        margin-top: -80px;
    }
}