@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-de-fundo: #111111;
    --fonte: 'Exo', sans-serif;
    --branco-principal: #FFFFFF;
    --branco-secundario: #FAFAFA;
    --branco-terciario: #BABABA;
    --vermelho: #BD162C;
    --vermelho-escuro: #991526;
    --cinza: #222222;
    --verde: #2E8B57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
    width: 100vw;
    overflow-x: hidden;
}

@media (max-width: 1501px) {
    .container__button-after-hero {
        margin-top: 100px;
    }
}

.container__preco {
    display: flex;
    justify-content: center;
}

.box-preco {
    width: 400px;
    height: 500px;
    border: #991526 solid 1px;
    background: linear-gradient(45deg, #0f020b, #350918);
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -20px;
}

.box-preco span {
    color: #e9e9e9;
}

.box-preco h1 {
   font-size: 50px;
   color: #0ab755; 
   font-weight: 800;
}

.after-hero__botao {
    background-color: var(--vermelho);
    color: var(--branco-secundario);
    border: none;
    font: bold;
    padding: 8px;
    border-radius: 4px;
    width: 340px;
    height: 48px;
    text-align: center;
    margin-top: 70px;
}

.after-hero__botao:hover {
    background-color: var(--vermelho-escuro);
    cursor: pointer;
}

.container__plans h1 {
    color: var(--vermelho);
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin-top: 50px;
}

.container__plans h2 {
    color: var(--branco-secundario);
    text-align: center;
    font-weight: 500;
    font-size: 32px;
}

.container__plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plans__container-card {
    margin-top: 50px;
    background-color: #15201a;
    width: 360px;
    height: 624px;
    border-radius: 4px;
    border: 1px solid var(--verde);
    padding: 20px;
}

.plans__card-lista h2 {
    background-color: var(--verde);
    width: 121.78px;
    height: 27px;
    font-size: 18px;
    margin-bottom: -30px;
    font-weight: 700;
}

.plans__card-lista h1 {
    color: var(--branco-secundario);
    font-size: 32px;
    text-align: left;
    margin-bottom: 25px;
    font-weight: 700;
}

.plans__card-lista span {
    font-size: 16px;
    font-weight: 400;
}

.plans__card-lista p {
    color: var(--branco-terciario);
    font-size: 14px;
    margin-bottom: 25px;
}

.plans__card-lista li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.plans__card-lista h3 {
    color: var(--branco-secundario);
    font-weight: 500;
    font-size: 14px;
}

#checkYellow {
    background-color: var(--verde);
    width: 17px;
    height: 17px;
    border-radius: 2px;
}

#linkObtenha {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 760px) {
    #policy {
        flex-direction: row-reverse;
    }

    #policyCards {
        justify-content: left;
    }
}

@media (min-width: 540px) and (max-width: 1280px) {
    .box-preco {
        margin-top: 100px;
    }

    .after-hero__botao {
        margin-top: -50px;
    }
}

@media (min-width: 1440px) {
    #experimente {
        flex-direction: row;
        width: 70vw;
    }

    #experimentContent {
        width: 900px;
        gap: 50px;
    }
}

#boxShadow1,
#boxShadow2,
#boxShadow3 {
    box-shadow: rgba(189, 22, 44, 0.2) 0px 0px 200px 400px;
}

@media (max-width: 1025px) {
    #imageHero {
        width: 100%;
    }

    #containerImageHero {
        width: 100%;
    }

    #boxShadow1,
    #boxShadow2,
    #boxShadow3 {
        box-shadow: rgba(189, 22, 44, 0.2) 0px 0px 100px 200px;
    }
}

@media (max-width: 414px) {
    .box-preco h1 {
        font-size: 38px;
    }

    .after-hero__botao {
        margin-top: 50px;
    }
}

@media (max-width: 430px) {

    .after-hero__botao {
        width: 300px;
        margin-top: -60px;
    }

    .box-preco {
        width: 320px;
        padding: 5px;
    }
}
